body,html{
  padding: 0;
  margin: 0;
}
body{
  width: 100%;
  height: 100vh;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap{
  width: 700px;
  height: 500px;
  background: #71b9d8;
  overflow: hidden;
  position: relative;
  .cloud{
    position: absolute;
    top: 0;
    left: 0;
    width: 1400px;
    animation: move 12s linear infinite;
    img{
      width: 700px;
    }
  }
  .sea{
    position: absolute;
    bottom: 0px;
    width: 700px;
    height: 180px;
    background: #286b8c;
  }
  .wave{
    position: absolute;
    width: 1400px;
    height: 180px;
    bottom: 0;
    left: 0;
    animation: move 4s linear infinite;
    img{
      width: 700px;
    }
  }
  .seagull{
    width: 360px;
    height: 260px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: body 3s infinite;
    &>*{
      position: absolute;
    }
    img{
      width: 100%;
    }
    .body{
      width: 320px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    .wing1{
      width: 180px;
      top: 20px;
      left: 0;
      transform-origin: 0 85%;
      animation: wing1 3s infinite;
    }
    .wing2{
      width: 250px;
      top: 0;
      left: 120px;
      transition: .5s;
      transform-origin: 0 85%;
      animation: wing2 3s infinite;
    }
    
  }
  .textarea{
    position: absolute;
    bottom: 0;
    width: 400px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    margin: 0 auto;
    color: #fff;
    font-family: 微軟正黑體;
    padding: 20px 0;
    letter-spacing: 1px;
    h2{
      margin: 0;
      padding: 0;
    }
    p{
      margin: 0;
      padding: 0;
    }
  }
}

@keyframes wing2{
  0%{
    transform: rotateX(0deg);
  }
  50%{
    transform: rotateX(150deg);
  }
  100%{
    
    transform: rotateX(0deg);
  }
  
}
@keyframes wing1{
  0%{
    transform: rotateX(0deg) scale(1,1) translatex(0);
  }
  50%{
    transform: rotateX(150deg) scale(0.6,0.6) translatex(50%);
  }
  100%{
    
    transform: rotateX(0deg) scale(1,1) translatex(0);
  }
  
}
@keyframes body{
  0%{
    top: 60%;
  }
  50%{
    top: 55%;
  }
  100%{
    top: 60%;
  }
}

@keyframes move{
  0%{
    left: -100%;
  }
  100%{
    left: 0;
  }
}