//designed by freepik.com 
.wrap
  .cloud
    img(src="https://i.imgur.com/Pqc0DdW.png", alt="")
    img(src="https://i.imgur.com/Pqc0DdW.png", alt="")
  .sea
    .wave
      img(src="https://i.imgur.com/YRwuG8e.png", alt="")
      img(src="https://i.imgur.com/YRwuG8e.png", alt="")
  .seagull
    .wing1
      img(src="https://i.imgur.com/D19m9RK.png", alt="")
    .body
      img(src="https://i.imgur.com/q2XCUQ7.png", alt="")
    .wing2
      img(src="https://i.imgur.com/HQSlSRN.png", alt="")
  //- .textarea
  //-   h2 Flying Seagull Background
  //-   p designed by freepik.com 
